*{
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

body{
  background-color: #f2f2f2;
  max-width: 80%;
  margin: 0 auto;
}

.App-logo {
  height: 30px;
  width: 40px;
}

.navbar{
  margin: 10px 0;
  padding: 10px 0;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
}

.recommended{
  text-align: center;
}
.recommendText{
  font-size: 2em;
  font-weight: bold;
  padding-top: 30px;
}
.cards{
  padding: 0 65px;
  display: grid;
  grid-template-columns: auto auto auto;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 700;
}

.card{
  cursor: pointer;
  box-sizing: border-box;
  display: block;
  background-color: white;
  margin: 58px 29px 0; 
  padding: 33px;
  width: 381px;
  height: 112px;
  box-shadow: 2px 2px 7px;
  font-size: 20px;
}

.details{
  margin: 60px 0 25px;
  text-align: center;
  font: 3em;
  font-weight: bold;
}

.details_moviename{
  margin-top: 30px;
  margin-bottom: 0;
}
.details_movieprice{
  margin: 0;
  margin-bottom: 0px;
}

.details_buttons{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 550px
  
}

.details_button{
  cursor: pointer;
  padding: 6px 16px;
  background-color: #F84464;
  border: none;
  color: white;
  border-radius: 4px;
}