*{
  font-family: ;
}

body{
  background-color: #F2F2F2;
  max-width: 80%;
  margin: 0 auto;
}

.App-logo {
  height: 30px;
  width: 40px;
}

.navbar{
  margin: 10px 0;
  padding: 10px 0;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
}



